<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-05T11:04:19Z</date>
		<key>actualSize</key>
		<integer>2760</integer>
		<key>attributeModDate</key>
		<date>2010-01-05T10:54:26Z</date>
		<key>createDate</key>
		<date>2010-01-05T10:54:26Z</date>
		<key>creationDate</key>
		<date>2010-01-14T00:43:25Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>6A98AD6B-8B7C-40C4-9EE4-50182E09ACA0</string>
		<key>lastModifiedDate</key>
		<date>2010-01-05T10:54:26Z</date>
		<key>originalPath</key>
		<string>/Users/alptugan/SVN_Class/Stroep_Lib/nl/stroep/utils/CropUtil.as</string>
		<key>originalSize</key>
		<integer>2760</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>6D45F993-7058-4035-A80A-95FB81E639A9</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
