<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-04-07T22:29:42Z</date>
		<key>actualSize</key>
		<integer>6148</integer>
		<key>attributeModDate</key>
		<date>2010-01-05T10:54:47Z</date>
		<key>createDate</key>
		<date>2010-01-05T10:54:47Z</date>
		<key>creationDate</key>
		<date>2010-04-09T18:34:10Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>9AAE7376-0ABE-4518-A600-D200397D8FF0</string>
		<key>lastModifiedDate</key>
		<date>2010-01-05T10:54:47Z</date>
		<key>originalPath</key>
		<string>/Users/alptugan/SVN_Class/Stroep_Lib/nl/stroep/.DS_Store</string>
		<key>originalSize</key>
		<integer>6148</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B5A80719-9A97-49F3-AD7A-4E208F634499</string>
				<key>macAttributes</key>
				<integer>2</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
