<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-03-18T16:32:45Z</date>
		<key>actualSize</key>
		<integer>8070</integer>
		<key>attributeModDate</key>
		<date>2010-02-26T04:46:00Z</date>
		<key>createDate</key>
		<date>2010-01-27T03:25:05Z</date>
		<key>creationDate</key>
		<date>2010-03-20T23:20:14Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>5255F9BC-57A4-41D2-AF07-BFA5586EC128</string>
		<key>lastModifiedDate</key>
		<date>2010-01-27T03:25:05Z</date>
		<key>originalPath</key>
		<string>/Users/alptugan/Global_Classes/br/com/stimuli/loading/loadingtypes/VideoItem.as</string>
		<key>originalSize</key>
		<integer>8070</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>E305617E-894E-4436-8A3E-23DE097F7105</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
